{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    [
      "babel-plugin-transform-builtin-extend",
      {
        "globals": ["Error"]
      }
    ],
    [
      "transform-runtime",
      {
        "polyfill": false
      }
    ]
  ],
  "env": {
    "lib": {
      "presets": [
        [
          "env",
          {
            "modules": "commonjs"
          }
        ]
      ],
      "plugins": [
        [
          "transform-builtin-extend",
          {
            "globals": ["Error"]
          }
        ]
      ]
    }
  }
}
