logs
*.log
npm-debug.log*
pids
*.pid
*.seed
lib-cov
coverage
.nyc_output
.grunt
.lock-wscript
build/Release
node_modules
jspm_packages
.npm
.node_repl_history

.awcache
dist
lib
cjs
esm
tests.js.map
netlify.toml
packages/*/docs
packages/*/temp
*.tsbuildinfo
